.menuwiki{
  display: inline-block;
  border right: 1px solid black;
  float:left 20px;
  position: relative;
  left: 162px;
}
.menuwiki ul {
  list-style-type: none;
}
.leftnavigation {
  display: inline-block;
  border: 1px solid;
}
.alan-arti {
border: 1px solid blue;
float: right;
width: 80%
}
.menuwiki ul {
  border: 1px solid red;
  display: inline-flex;
text-indent: 42px;
}
.right-navigation {
  border: 1px solid green;
  float: right;
  display: inline-flex;
  list-style-type: none;
  text-indent: 10px;
}
.right-navigation a {
  box-shadow: 0px 1px 1px 1px blue;
}
.right-navigation ul{
  position: relative;
  bottom: 16px;
}
.search {
  float: right;
  border: 1px dashed green;
  clear: right;
  width: 65%;
display: inline-flex;
}
.body{
  border: 1px solid red;
  float: left;
  width: 19%;
  position: relative;
  bottom: 54px;
  background-color: #f6f6f6;
  border-right: 2px #2c485c;
  height: 3000px;
}
.imagebody {
  border: 1px solid #161616;
  background-image: url(frwiki.png);
  background-repeat: no-repeat;
  width: 141px;
  height: 155px;
}
.imagedroite1 {
  border: 1px solid black;
}
.imagecaptation {
  border: 1px solid black;
}
